[2020-04-21 05:52] tomkerkhove opened #2 "Provide Helm chart"
Provide Helm chart to automatically deploy gateway.

[2020-04-21 05:53] tomkerkhove commented on #2
PR is merged, can I help with something else @miaojiang?

[2020-05-07 07:42] #2 closed

[2020-05-07 07:44] tomkerkhove opened #4 "List Helm Charts on hub.helm.sh"
As of today, only my old Helm chart [is listed on hub.helm.sh](https://hub.helm.sh/charts?q=azure-api-managem).

I'm more than happy to work on getting the official one listed.

[2020-05-07 07:47] tomkerkhove commented on #4
@miaojiang @vladvino Ok for you if I kick this off?

[2020-05-07 18:42] vladvino commented on #4
I don't see why not!

[2020-05-08 06:01] tomkerkhove opened #5 "List Helm Charts on CNCF's Artifact Hub"
List Helm Charts on CNCF's Artifact Hub - This is becoming the home for all artifact types.

https://artifacthub.io/

[2020-05-08 06:03] tomkerkhove commented on #5
For more info, see https://thenewstack.io/cncf-launches-a-one-stop-hub-for-kubernetes-packages/

Took the liberty of creating an org and listing it:
![image](https://user-images.githubusercontent.com/4345663/81375576-1b2b3500-9102-11ea-8794-b12b381f7019.png)

Available on: https://artifacthub.io/package/chart/azure-api-management/azure-api-management-gateway

@vladvino if you create an account I c

[2020-05-08 06:05] tomkerkhove opened #6 "Provide docs how to ship a new version of Helm chart"
Provide docs how to ship a new version of Helm chart

[2020-05-08 06:05] tomkerkhove opened #7 "Provide GitHub releases for Helm chart"
Provide GitHub releases for Helm chart

[2020-05-08 06:14] tomkerkhove opened #8 "Current Helm chart contains references to tomkerkhove & Promitor"
Current Helm chart contains references to tomkerkhove instead of Azure API Management.

This is because the recent changes in this repo have not been released yet.

[2020-05-08 06:14] tomkerkhove commented on #8
These have not been included yet:
![Uploading image.png…]()

[2020-07-10 17:24] vnextcoder opened #13 "Policy HTTP Set Header doesn't work with @Server header."
Hello

I have setup a Self-Hosted Gateway in Kubernetes with sCale = 0 .

Image:          mcr.microsoft.com/azure-api-management/gateway:latest
Name:         myk8sgateway-7558c6548-pwd95

API Policy

[code]

However, the PostMan still shows the Server Header as "Kestrel" happily but that doesn't sound good.

I am only using the sample https://github.com/MicrosoftDocs/mslearn-control-authentication

[2020-07-11 09:07] Microshaoft opened #14 "when docker run the latest version of container, occurs some exceptions about AutoFac , may be some plugin(dll) missing or injecting error? would help to resolve it?"
···
 Autofac.Core.DependencyResolutionException: An error occurred during the activation of a particular registration. See the inner exception for details. Registration: Activator = Func`2[] (DelegateActivator), Services = [System.Collections.Generic.IEnumerable`1[[System.Func`2[[System.Threading.CancellationToken, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7be

[2020-07-23 18:32] SeeSharpCode opened #15 "No analytics for APIs using self-hosted gateway"
I've deployed a self-hosted gateway to an AKS cluster and have added a couple of APIs to it.

I'm able to successfully call these APIs through the gateway, but those requests don't show up in the analytics for the APIM instance. Is this expected? I've reviewed all of the documentation on self-hosted gateways I could find, and they only mention metrics and Azure Monitor/Logging.

[2020-07-27 04:43] Microshaoft commented on #14
@vladvino @tomkerkhove would you help to resolve it?

[2020-07-27 06:20] tomkerkhove commented on #14
Adding @miaojiang as I'm not part of the APIM team

[2020-07-27 17:40] vladvino commented on #14
@maksimkim please take a look.

[2020-08-07 03:41] #6 closed

[2020-08-07 03:41] #8 closed

[2020-08-26 13:36] cveld opened #17 "Helm charts vs yaml deployments"
Can you provide guidance when it is suitable to use the Helm charts for deploying the self-hosted gateway and when it is more appropriate to just use a separate yaml file?

We have created a private image based on the self-hosted gateway image with our private root certificate added.
Are the out of the box helm charts provided in this repository still applicable?

[2020-10-16 10:26] zateckar opened #20 "Request size limit"
Self-Hosted gateway has rather small request size limit (approx. 20MB) in comparison with an Azure instance (hundreds of MBs, probably constrained by timeout).

How can we increase this limit?

Thank you
Radim

From tracelog:
{
"source": "request-forwarder",
"timestamp": "2020-10-16T09:05:41.7063803Z",
"elapsed": "00:00:00.1742902",
"data": {
"messages": ["**Request body too large.**"]
}
}

[2020-11-05 21:08] chrislangston opened #21 "How much traffic can Self Hosted Gateway realistically support?"
We are evaluating Self Hosted Gateway for our on-premise needs.

I realize this is a Docker image and throughput is impacted by many factors.

Can you provide any rough estimates/guidance on how many requests a single Self-Hosted Gateway can support?

I know the Azure pricing documentation shows 4,000 requests/sec.

Thanks,

Chris

[2020-11-05 21:35] vladvino commented on #21
@maksimkim how would you answer this question?

[2020-11-05 21:36] vladvino commented on #20
@maksimkim please take a look.

[2020-11-05 21:37] vladvino commented on #15
@VitaliyKurokhtin please comment.

[2020-11-06 16:22] VitaliyKurokhtin commented on #15
That is correct. At the moment only cloud metrics are available. Logging to Azure monitor is coming. Analytics is not expected to aggregate self-hosted traffic. Replacement functionality will come in future.

[2020-11-11 14:09] chrislangston commented on #21
Hi @vladvino  and @maksimkim, any thoughts on how I can answer this question for our client wanting to use Self Hosted on-premise?

[2020-11-13 21:49] #15 closed

[2020-11-19 16:01] zateckar commented on #21
Hi, our 2vCPU/7GB VM handles around 1500 req/s (health checks: no policy or backend; behind F5 balancer and firewall).

It seems to be scaling well with additional vCPU.

Regards,
Radim

[2020-12-02 16:51] chrislangston commented on #21
Thanks @zateckar for the feedback and information.

[2020-12-02 16:51] #21 closed

[2021-01-28 06:11] tomkerkhove commented on #5
@vladvino Feel free to let me know if you want me to transfer it.

[2021-01-28 06:11] #4 closed

[2021-01-28 06:16] tomkerkhove opened #22 "Provide capability to specify annotations to the service"
Provide capability to specify annotations to the service to extend it or integrate with other tools.

[2021-01-28 06:16] tomkerkhove opened #23 "Provide capability to use image pull secrets"
Provide capability to use image pull secrets in case people want to use their own image which builds on top of the gateway.

[2021-01-28 06:17] tomkerkhove commented on #17
The benefit of Helm is that you, as a user, don't have to worry about the resources that the gateway needs - It is a self-contained Kubernetes application that you can just deploy. You could write & maintain the YAML yourself, but the question is why you would want to manage that if you can let somebody else handle it.

In terms of your custom image, you can still use the Helm chart. [In the confi

[2021-01-28 06:27] tomkerkhove opened #25 "Extend CI to deploy & test gateway"
Extend CI to deploy the Helm chart on a Kind cluster and call an operation once it's up and running.

However, this would require an Azure API Management instance that has a gateway available.

[2021-01-28 06:27] tomkerkhove commented on #25
@vladvino Thoughts on this?

[2021-01-28 17:21] vladvino commented on #5
@tomkerkhove I signed up using my GitHub account.

[2021-01-28 17:31] vladvino commented on #25
@tomkerkhove neutral to positive😀Did anyone ask for this?

[2021-01-28 17:31] #23 closed

[2021-01-28 17:34] #22 closed

[2021-01-28 18:27] tomkerkhove commented on #5
Great, invite sent!

[2021-01-28 18:28] tomkerkhove commented on #25
No, just me but it's to guarantee that the Helm chart still works during PRs!

[2021-01-28 19:04] vladvino commented on #5
Received and accepted!

[2021-01-29 06:47] #5 closed

[2021-02-11 01:11] thfsilvab commented on #14
Did anyone solve this? I'm getting the same error half a year later.

[code]

[2021-02-18 14:48] jasonpanggit opened #31 "Disabling/Removal of weak ciphers"
Self-hosted gateway image contains weak ciphers. Is it possible to remove them?

[2021-04-26 06:05] poychang opened #32 "Support Windows container"
Is there has any chance to support Windows container?

[2021-07-15 03:45] Restry opened #34 "api management gateway how to offline restart with backup snapshot ?"
https://docs.microsoft.com/en-us/azure/api-management/self-hosted-gateway-overview

i'm not very sure it this description means the gateway can be able to start without internet ? if they have been run with the backup ?

_When configuration backup is turned on and connectivity to Azure is interrupted:

Running self-hosted gateways will continue to function using an in-memory copy of the configurat

[2021-08-07 11:44] tomkerkhove opened #35 "Helm - Use Pod Disruption Budget to ensure gateway remains up"
Use Pod Disruption Budget to survive voluntary removal such as node update, rollout of new version, etc which defines how many % of instances can be removed at the same time.

This could potentially only be enabled when running in HA is enabled.

[2021-08-07 11:45] tomkerkhove opened #36 "Helm - Spread instances across zones in Kubernetes cluster for high availability"
Spread instances across zones in the Kubernetes cluster to not all be scheduled on the same failure zone.

This can be done by using [pod anti-affinity](https://www.danielstechblog.io/increase-your-application-availability-with-pod-anti-affinity-settings-in-azure-kubernetes-service/) or [pod topology spread constraints](https://www.danielstechblog.io/distribute-your-application-across-different-av

[2021-08-07 11:45] tomkerkhove commented on #35
Happy to work on this if you want.

[2021-08-07 11:45] tomkerkhove commented on #36
Happy to work on this if you want.

[2021-08-19 16:37] obautista commented on #34
@Restry - we are testing the exact thing you posted about.  Were you able to learn anything?  We set up self hosted gateway using Docker and a backed up config file snapshot.  API call through self hosted gateway stopped working after restarting container.

[2021-10-01 16:19] franckies commented on #14
Same error here

[2021-10-25 06:44] franckies opened #37 "API Management Bad request Update Configuration"
Hello,
I keep receiving this error log message with a periodic trend:

`{"level":"Error","timestamp":"2021-10-25T05:30:52.6744551Z","eventType":"Error","exception":"System.Net.Http.HttpRequestException: Response status code does not indicate success: 400 (Bad Request).\n   at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()\n   at Gateway.Host.AspNetCore.ExternalConfiguration.ServiceC

[2021-11-09 10:11] franckies commented on #37
I close this issue, since errors were due to the fact that Developer plan only supports a maximum of one gateway replica per deployment.
Anyway, it is still interesting to notice that the gateway with more than one replica was still able to fetch configuration updates and was working correctly, despite the error logs messages.

[2021-11-09 10:11] #37 closed

[2021-12-09 09:51] tomkerkhove commented on #7
This is available on https://github.com/Azure/API-Management/releases

[2021-12-09 09:51] #7 closed

[2021-12-09 09:59] tomkerkhove commented on #13
Are you still having this issue?

[2021-12-09 10:02] tomkerkhove commented on #14
@franckies @Microshaoft Can you please try with the latest version?

[2021-12-13 07:59] tomkerkhove commented on #31
This is not supported today.

[2021-12-17 09:05] tomkerkhove opened #48 "Rename master to main branch"
Rename master to main branch

[2021-12-17 09:26] #48 closed

[2021-12-17 09:56] tomkerkhove commented on #25
Done in #47

[2021-12-17 09:56] #25 closed

[2021-12-21 10:59] tomkerkhove opened #53 "Provide capability to emit metrics to Azure Monitor"
### Proposal

Provide capability to emit metrics  to Azure Monitor.
https://docs.microsoft.com/en-us/azure/api-management/how-to-configure-cloud-metrics-logs

### Use-Case

_No response_

### Anything else?

_No response_

[2021-12-21 15:44] #35 closed

[2021-12-21 15:44] #36 closed

[2021-12-21 15:50] #53 closed

[2021-12-22 07:15] tomkerkhove opened #57 "Become official publisher on Artifact Hub"
Become official publisher on Artifact Hub:
https://artifacthub.io/docs/topics/repositories/#official-status

[2021-12-22 07:16] tomkerkhove opened #58 "Become verified publisher on Artifact Hub"
Become verified publisher on Artifact Hub:
https://artifacthub.io/docs/topics/repositories/#verified-publisher

[2021-12-22 07:22] tomkerkhove commented on #58
Done through #51

[2021-12-22 07:22] #58 closed

[2021-12-22 07:48] #57 closed

[2021-12-22 07:48] tomkerkhove commented on #57
We are now an official publisher:
![image](https://user-images.githubusercontent.com/4345663/147055336-472b9050-a045-4f06-8bb0-307bb72aa9c9.png)

[2022-01-05 06:30] tomkerkhove opened #60 "Update documentation with new configuration"
Update documentation on https://docs.microsoft.com/en-us/azure/api-management/how-to-deploy-self-hosted-gateway-kubernetes-helm with our new configuration introduced in #52

[2022-01-19 14:10] laboremus777 commented on #20
Is there any ETA on the fix?
We've hit the same problem and that's a major bummer. We have a lot riding on this solution and will really appreciate if updated version could be made available sooner than later.

[2022-01-21 15:51] johnynfulleffect opened #66 "Helm charts in helm repo do not match docs and charts in this repo"
### Report

I have been working on getting this helm chart running in my AKS cluster, and I have been getting errors related to dapr.app.id, gateway.configuration.uri and gateway.auth.key.  Come to find out, I don't think [this](https://github.com/Azure/api-management-self-hosted-gateway/commit/06716209ec054fcddaca3050447cfbcd78fd11f8) commit has been published to the Helm repo.

### Expected Beha

[2022-01-21 16:12] tomkerkhove commented on #66
What Helm chart did you use because `1.1.2` does not exist?

[2022-02-07 06:59] tomkerkhove opened #68 "Provide health probe"
### Proposal

Provide health probe to verify the gateway is still up & running.

### Use-Case

Use for operational & scheduling purposes.

### Anything else?

_No response_

[2022-02-07 07:00] tomkerkhove opened #69 "Provide readiness probe"
### Proposal

Provide readiness probe to verify the gateway is still up & running and can start serving traffic.

### Use-Case

Use for autoscaling, operational & scheduling purposes.

### Anything else?

_No response_

[2022-02-17 17:16] #68 closed

[2022-02-17 17:16] #69 closed

[2022-02-22 13:39] Andrei-Predoiu opened #72 "Json logging"
### Proposal

Hi,
Given that the gateway is self hosted ,we would really appreciate the ability to enable standardized json logging, as well as have the ability to enable (open) tracing/telemetry for the gateway.

### Use-Case

I want to parse and monitor the logs generated by the self hosted gateway. It is much harder to do so when they are not Json.
I want to enable end to end tracing for calls

[2022-02-22 14:44] #72 closed

[2022-02-23 10:20] tomkerkhove opened #73 "Provide capability to manage log configuration in Helm chart"
https://docs.microsoft.com/en-us/azure/api-management/how-to-configure-local-metrics-logs#logs

Relates to https://github.com/Azure/api-management-self-hosted-gateway/issues/72

[2022-02-23 10:21] tomkerkhove commented on #72
Good to hear you've found your way to our docs! I opened #73 to simplify this for you.

[2022-02-24 07:42] Andrei-Predoiu commented on #72
Thanks, i still haven't figured out how to disable colors so that our log management doesn't get confused. If you know i'd appreciate it.

[2022-02-24 07:56] tomkerkhove commented on #72
Can you elaborate on that please?

[2022-02-24 08:36] Andrei-Predoiu commented on #72
I am using the following log config:
[code]
The logs look good when i print them out but the ANSI color codes are not understood by our log management and end up being unparsable. The easy solution would be to disable log colors but there is no configuration for that.

![image](https://user-images.githubusercontent.com/5424946/155487933-e671d7bb-6434-4b0a-a8f9-60fdba63b98c.png)

![image](https://u

[2022-02-24 09:09] tomkerkhove commented on #72
We don't explicitly use log colors, are you sure this is not because of the CLI client that you are using?

[2022-02-24 10:50] Andrei-Predoiu commented on #72
That's very strange, i'm running it on kubernetes and i'm not doing anything special.
I think maybe it's because of this: https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.console.loggercolorbehavior?view=dotnet-plat-ext-6.0
But i honestly have no idea.

[2022-02-24 12:28] tomkerkhove commented on #72
We are not using that at the moment. Are you sure that it is related to the color or the format as such?

[2022-02-24 13:40] Andrei-Predoiu commented on #72
It's the ANSI color, if you look at the photo, you can see `[31m` before the json and `[0m` at the end.
Logs in the console are different colors; Info is white, warn is yellow and errors are red. Logs in datadog start with different  characters depending on the log level also.

This is why my conclusion is that it is the color of the logs.

![image](https://user-images.githubusercontent.com/542494

[2022-02-28 07:21] tomkerkhove commented on #72
Oh now I see it - Sorry, would you mind opening a dedicated issue for this please?

[2022-02-28 08:26] Andrei-Predoiu opened #78 "Add option to disable Log colors"
### Proposal

By default, the self hosted GW produces colored logs.
It seems like it might not be intended behavior according to this [issue](https://github.com/Azure/api-management-self-hosted-gateway/issues/72#issuecomment-1049871433)

### Use-Case

Logging frameworks have a hard time parsing logs with color codes, as seen here:
[issue](https://github.com/Azure/api-management-self-hosted-gateway

[2022-03-02 11:27] Andrei-Predoiu commented on #78
@tomkerkhove is this fine?

[2022-03-02 12:08] tomkerkhove commented on #78
Certainly, thank you!

[2022-03-03 19:02] codesometech opened #81 "Capability to add PersistentVolumeClaim for configuration backup using helm chart"
### Proposal

Capability to add PersistentVolumeClaim for configuration backup using helm chart.

https://docs.microsoft.com/en-us/azure/api-management/how-to-self-hosted-gateway-on-kubernetes-in-production#configuration-backup

### Use-Case

Configure a local storage volume for the self-hosted gateway container, so it can persist a backup copy of the latest downloaded configuration. If connectivi

[2022-03-04 06:21] #60 closed

[2022-03-04 06:22] tomkerkhove commented on #81
Fair request!

[2022-03-09 09:51] tobymilne-haven opened #82 "Security requirements not clear for v2.0.0 on K8S"
### Report

Hi,
We run several on prem gateways in kubernetes. They are set to use the latest version, and when we refreshed them today they failed to start.

Error is : "Failed to open temporary file /etc/ssl/certs/bundleXXXXXX for ca bundle"

Rolling back to v 1.2.5 works, so it looks like we are having a problem with the new v2.0.0.

Is there anything we need to do to start using version 2?

Th

[2022-03-09 12:49] tomkerkhove commented on #82
Thanks for reporting, we are still working on making an announcement that would help but can you share a bit more on how you deploy the gateway?

Do you enforce security policies? We require linux user with 1001 at least

[2022-03-09 12:50] tomkerkhove commented on #14
Closing due to inactivity - Feel free to re-open in case you were able to give it a try.

[2022-03-09 12:50] #14 closed

[2022-03-09 12:50] tomkerkhove commented on #13
Closing due to inactivity - Feel free to re-open in case you were able to give it a try.

[2022-03-09 14:16] tobymilne-haven commented on #82
Hi, thanks for responding quickly!
Yes we deploy the gateway on AWS EC2 instances running EKS, and we have an admissions controller that enforces some policies (known docker registries, non root), but the k8s pod security policy is allowing everything.
We also have an init-container in the gateway deployment to get a fresh auth token from Azure at startup.

For the Gateway, with v1, I have been ad

[2022-03-10 10:34] tobymilne-haven commented on #82
Yep I will set our containers up with that security context.
I'll keep an eye out for the migration guide.

[2022-03-22 07:54] stfnbstl opened #83 "APIM Config Backup with PersistentVolumeClaim"
### Report

I have rewritten the deployment manifest to offload the config backup to a persistent volume. This should help the config persist when pods are restarted during an internet outage.
However, I get an access error because all folders in the backup path belong to the root user and the pod is read-only.
I don't want to run my pod in the root context and I think this behavior should be chan

[2022-03-22 09:29] stfnbstl commented on #83
Nevermind, i just found a way of getting this to work. All you have to do is to add `securityContext.fsGroup` and set it to `1001`:

[code]

The creation now works:
[code]
Unfortunately your CSI driver must support this via [fsGroupPolicy](https://kubernetes-csi.github.io/docs/csi-driver-object.html#:~:text=Info%20on%20Mount.-,fsGroupPolicy,-This%20field%20was). If this was set to `None` in your C

[2022-03-31 14:35] jochenvw commented on #82
Hi - we're also trying to deploy the self-hosted gw but on OpenShift. Same error message when using the default yml:
`Failed to open temporary file /etc/ssl/certs/bundleXXXXXX for ca bundle`

After adding
[code]
We get:
[code]

Not super deep into containers and orchestrators, but I think this is because OpenShift is more restricted in terms of security than 'vanilla' K8S or AKS.

Any tips on solv

[2022-04-19 11:36] tomkerkhove commented on #82
Sorry, I was on paternity leave - Did you manage to figure this out?

[2022-04-19 16:00] stfnbstl commented on #83
Sure thing, created a PR for the docs. #91726

[2022-04-25 06:03] tomkerkhove commented on #32
Adding @ferantoMSFT who is our PM

[2022-04-25 06:03] tomkerkhove commented on #31
Adding @ferantoMSFT who is our PM

[2022-04-26 05:17] maksimkim commented on #20
This was fixed in 2.0.0

[2022-04-26 05:17] #20 closed

[2022-04-29 12:44] LDL-GH opened #84 "Provide capability to use an existing Kubernetes secret for the gateway.auth.key"
### Proposal

Right now we need to input the gateway.auth.key as a value in the helm chart. And the secret is created by the helm chart
However it would be nice to also be able to reference an existing secret.

### Use-Case

This way the secret value can be managed separately from the helm chart.
Also the key is not visible, only the secret name.

### Anything else?

_No response_

[2022-04-29 13:02] LDL-GH opened #85 "Provide capability to add security context configuration"
### Proposal

The Securitycontext should be set by default or be configurable in the helm chart.

### Use-Case

According to following issue we should configure the securitycontext to be able to run the Api management self hosted gateway:
https://github.com/Azure/api-management-self-hosted-gateway/issues/82

Using the helm chart this does not seem possible right now

### Anything else?

_No respon

[2022-04-29 13:11] LDL-GH opened #86 "Provide capability to use serviceAccountName"
### Proposal

Add the possibility to specify a serviceAccountName which is used to run the pods

### Use-Case

We are trying to run the api-management-self-hosted-gateway on Openshift 4.x, to be able to add a securitycontext to run as user 1001 we need to create a new serviceAccount with a non default SCC (https://docs.openshift.com/container-platform/4.8/authentication/managing-security-context-c

[2022-04-29 14:26] tomkerkhove opened #87 "Test issue"

[2022-04-29 14:29] #87 closed

[2022-04-29 14:30] tomkerkhove opened #88 "Automation Test"

[2022-04-29 14:32] #88 closed, assigned to nobody

[2022-04-29 14:32] tomkerkhove opened #89 "Final automation test"

[2022-04-29 14:33] #89 closed

[2022-04-29 14:33] tomkerkhove opened #90 "Final automation test on friday"

[2022-04-29 14:37] #90 closed

[2022-05-05 07:03] stfnbstl commented on #82
We're also trying to upgrade from 1.2.5 to 2.0.2 but even with your suggestion I get this error:

[code]

Has anyone already made progress with this issue?

[2022-05-05 07:29] npigniergeodis commented on #82
Hi @stfnbstl, what we did on our Openshift Cluster :

1. create a dedicated service account, for ex. "apim-shg-sa"
1. give this sa the anyuid security context constraint for the namespace where you deploy your self-hosted gateway (command to be run by your cluster admin) :
   `oc adm policy add-scc-to-user anyuid -z apim-shg-sa --namespace <your namespace>`
1. in your deployment, add "serviceAccou

[2022-05-05 07:38] tomkerkhove commented on #82
A patch for this is coming soon as well

[2022-05-10 08:27] tomkerkhove commented on #82
`:2.0.3` is out and allows you to deploy as following:
[code]

Using read-only filesystem, however, is not supported.

Docs are going to be updated on https://docs.microsoft.com/en-us/azure/api-management/how-to-self-hosted-gateway-on-kubernetes-in-production with a security section but deployment is pending.

[2022-05-10 08:31] tomkerkhove commented on #82
I'm going to close it but feel free to re-open in case of issues.

[2022-05-10 08:31] #82 closed

[2022-05-10 09:16] npigniergeodis commented on #82
when deploying on our Openshift v4.9 there are some errors, certainly due to the cluster security setup, so on my side I'll stick with my previous solution (a dedicated service account)

error validating data: [ValidationError(Deployment.spec.template.spec.securityContext):
unknown field "**allowPrivilegeEscalation**" in io.k8s.api.core.v1.PodSecurityContext, ValidationError(Deployment.spec.templa

[2022-05-10 09:18] tomkerkhove commented on #82
The above is just an example though, so if you want you can just run it with this (for example)

[code]

[2022-05-10 10:03] npigniergeodis commented on #82
Ok, it works with :
[code]

the user id 1002420005 is given by a previous error, ( when using `runAsUser: 1001`)
[code]

So I picked a user in the proposed range :-)

[2022-05-10 10:07] tomkerkhove commented on #82
That's because you are using OpenShift I presume?

[2022-05-10 10:10] npigniergeodis commented on #82
Yes, Openshift v4.8

[2022-05-10 12:10] tomkerkhove commented on #82
Docs are live: https://docs.microsoft.com/en-us/azure/api-management/how-to-self-hosted-gateway-on-kubernetes-in-production#security

[2022-05-11 08:49] npigniergeodis opened #94 "Configuration of the local logs to fluentd remote endpoint doesn't accept syntax hostname:port"
### Report

Following this documentation https://docs.microsoft.com/en-us/azure/api-management/how-to-configure-local-metrics-logs#logs  it should be possible to send the gateway logs to a fluentd instance by indicating the hostname and port.
But it only work when I use the syntax ip-address:port

In my setup I have a fluentd instance in a pod in the same namespace that the self-hosted gateway pod

[2022-05-11 08:54] tomkerkhove commented on #94
Thanks for reporting, we will take a look!

[2022-05-11 09:47] npigniergeodis opened #95 "Bad encoding of local json logs received by fluentd"
### Report

The self-hosted gateway can log json events to stdout, and/or to remote UDP enpoint (fluent for ex) according to the documentation https://docs.microsoft.com/en-us/azure/api-management/how-to-configure-local-metrics-logs#logs

The stdout json logs on the pod are Ok (despite the ansi color codes, but it's tracked by another issue) :

[code]

the same event received by the fluentd pod is

[2022-05-11 10:00] npigniergeodis commented on #95
I confirm that when testing the fluentd endpoint with :

[code]

The result is :

[code]

So this issue may be related to #78

[2022-05-11 20:27] VitaliyKurokhtin commented on #95
@npigniergeodis, could you share how you had gateway configured in regards to logging?

[2022-05-12 07:19] npigniergeodis commented on #95
@VitaliyKurokhtin here is the configmap used to configure the gateway :
![image](https://user-images.githubusercontent.com/26485524/168013910-4c9f99a2-fb86-4442-b83f-c481a9e1a0ad.png)

[2022-05-12 19:24] VitaliyKurokhtin commented on #95
The fix is in progress.

[2022-05-13 09:38] #86 closed

[2022-05-13 11:29] #85 closed

[2022-05-13 12:00] tomkerkhove commented on #84
@ldl-gh I'm going to cut a release, are you planning on contributing this later on or should I wait?

[2022-05-13 12:02] LDL-GH commented on #84
@tomkerkhove  Looking at it right now, I'll let you know where I stand in an hour

[2022-05-13 12:11] tomkerkhove commented on #84
Sounds good, thank you!

[2022-05-13 12:56] LDL-GH commented on #84
@tomkerkhove  PR is ready for review.
Just in time I hope?

[2022-05-13 12:57] tomkerkhove commented on #84
Certainly, thank you!

[2022-05-13 13:38] #84 closed

[2022-05-16 19:22] VitaliyKurokhtin commented on #94
The fix is in progress, thanks.

[2022-05-17 12:20] npigniergeodis commented on #95
Hi @VitaliyKurokhtin, do you have an estimated date for the fix to be available ?
Thanks

[2022-06-01 00:22] hairmare opened #104 "Installation links on Microsoft Artifact Registry redirect to bing"
### Report

The helm install link on https://mcr.microsoft.com/en-us/product/azure-api-management/gateway/about seems to redirect to bing.

### Expected Behavior

I'd like some helm install docs

### Actual Behavior

bing 😩

### Steps to Reproduce the Problem

1. go to https://mcr.microsoft.com/en-us/product/azure-api-management/gateway/about
2. in the usage section click on the Helm install docs:

[2022-06-01 08:42] #104 closed

[2022-06-01 08:46] tomkerkhove commented on #104
Deployed already actually.

[2022-06-14 05:25] #73 closed

[2022-06-15 07:50] tomkerkhove commented on #95
We're working on it and should be available soon.

[2022-06-15 07:50] tomkerkhove commented on #94
We're working on it and should be available soon.

[2022-06-22 11:49] tomkerkhove opened #108 "Provide capability to manage local metrics in Helm chart"
### Proposal

Provide support for using StatsD metrics: https://docs.microsoft.com/en-us/azure/api-management/how-to-configure-local-metrics-logs#configure-the-self-hosted-gateway-to-emit-metrics

### Use-Case

_No response_

### Anything else?

_No response_

[2022-06-22 12:36] tomkerkhove opened #112 "Provide basic e2e test in CI"
### Proposal

Provide basic e2e test in CI through cURL to ensure the gateway spins up and serves traffic properly.

### Use-Case

Ensure everything works fine.

### Anything else?

_No response_

[2022-06-23 08:26] #108 closed

[2022-06-23 08:27] #78 closed

[2022-06-27 09:33] #95 closed

[2022-06-27 09:38] tomkerkhove commented on #94
This is fixed in https://github.com/Azure/api-management-self-hosted-gateway/releases/tag/v1.3.0

[2022-06-27 09:40] tomkerkhove commented on #31
This is available in https://github.com/Azure/api-management-self-hosted-gateway/releases/tag/v1.3.0 and docs are on https://aka.ms/apim/sputnik/security/tls

[2022-07-11 07:53] LDL-GH commented on #81
@tomkerkhove I created a PR for this issue, mind taking a look?

[2022-07-11 09:29] #81 closed

[2022-08-17 13:37] tomkerkhove opened #141 "Store test key in Azure Key Vault"
Store test key in Azure Key Vault instead of hardcoded (while it's just a test key)

[2022-08-17 13:54] tomkerkhove commented on #141
That's not going to help as we still need a secret anyway.

[2022-08-17 13:54] #141 closed

[2022-09-05 11:25] edwardkuo commented on #32
Support Windows container, that's import. Because some enterprises almost use the windows server or windows container, they don't use linux. I also hope it can support windows containers.

[2022-09-06 00:50] edwardkuo opened #144 "Self hostes gateway only use container solution?"
### Discussed in https://github.com/Azure/api-management-self-hosted-gateway/discussions/143

<div type='discussions-op-text'>

<sup>Originally posted by **edwardkuo** September  5, 2022</sup>
I find the architecture of the API management gateway is very similar to the mulesoft API management. It also uses the Linux containers to do its gateway solution. I ask them if there is any other solution i

[2022-09-12 07:01] tomkerkhove commented on #144
Duplicate of https://github.com/Azure/api-management-self-hosted-gateway/discussions/143

[2022-09-12 07:01] #144 closed

[2022-09-16 14:29] tomkerkhove opened #145 "Provide capability to define the upgrade strategy for gateway"
### Proposal

Provide capability to define the upgrade strategy for gateway:
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy

### Use-Case

Give customers the capability to configure the upgrade strategy instead of enforcing the Kubernetes defaults.

### Anything else?

_No response_

[2022-09-23 12:38] ErikMogensen opened #147 "Provide support for the terminationGracePeriodSeconds field"
### Proposal

I want to be able to set the terminationGracePeriodSeconds for the deployment resource.

### Use-Case

I want it be able to set it above the default 30 seconds. For instance if a backend service takes three minutes to respond (a bit crazy but that  happens) and the pod is sent a kill signal, responses may be lost. Therefore we want to be able to set it.

Also, to maintain compatibili

[2022-09-26 11:49] #147 closed

[2022-09-28 10:14] tomkerkhove opened #151 "Provide batteries-included approach for service discovery and related features"
### Proposal

Some features of our gateway require synchronizing across instances, such as rate limiting.

Today, SHGW customers need to know how to configure this but our official deployment mechanisms (Portal, Helm, Arc) should simplify this process and use a "batteries included" approach.

For example, we should automatically create a headless service to perform the discovery of instances.

Exa

[2022-09-30 09:56] tomkerkhove opened #153 "Provide capability to configure HTTP proxy"

[2022-10-05 20:09] tomkerkhove opened #155 "Provide support for UDP broadcast for instance discovery"
Provide support for UDP broadcast for instance discovery

[2022-10-05 20:29] tomkerkhove opened #156 "Provide support for pushing logs to Azure Log Analytics"
### Proposal

Provide support for pushing logs to Azure Log Analytics

### Use-Case

_No response_

### Anything else?

_No response_

[2022-10-10 12:15] #151 closed

[2022-10-10 12:39] #145 closed

[2022-10-12 02:58] davejhahn opened #164 "Configuration Endpoint does not resolve when using Custom Domains"
### Report

When using custom domain names, the DNS for the original Azure provided names no longer resolve (e.g. [instance].developer.azure-api.net).  When deploying a self-hosted gateway to Kubernetes, it cannot resolve the name so the pod fails to start.

### Expected Behavior

After deploying (via helm or other), the pod should be able to communicate with the configuration.azure-api.net name a

[2022-10-12 06:11] tomkerkhove commented on #164
Given this is mainly around custom domain names and self-hosted gateway, the recommendation is to open an Azure Support ticket.

With regards to the Configuration API v2; custom domain names are not supported for now indeed as documented on [aka.ms/apim/shgw/migration/v2#known-limitations](https://aka.ms/apim/shgw/migration/v2#known-limitations)

[2022-10-12 06:12] tomkerkhove commented on #164
Also, what is your service name? Azure Support should be able to help you with it.

[2022-10-12 18:05] davejhahn commented on #164
I will open a support ticket.  I guess I'm curious if anyone has configured both custom DNS names for APIM and then deployed the self-hosted gateway into AKS.   Seems like it would be a common scenario that someone would have already encountered.

Without the custom domains, it works fine--the configuration endpoint (as well as the other endpoints) resolve via DNS and are accessible.  With custom

[2022-10-12 20:51] tomkerkhove commented on #164
This is a known limitation of Configuration API v2 and is coming later on because it enforces the `.configuration.azure-api.net` endpoint. However, DNS should resolve and thus a support ticket is recommended though.

[2022-10-13 00:10] tomkerkhove commented on #164
Why is your APIM service name?

[2022-10-17 10:08] Andrei-Predoiu opened #165 "rate-limit-by-key policy no longer works in 2.1.5"
### Report

Rate limiting completely broken on 2.1.5

### Expected Behavior

Rate limiting works as normal

### Actual Behavior

Every API call generates the error below.

### Steps to Reproduce the Problem

1. Deploy the self hosted gateway version 2.1.5
2. Set the following log processing rule on an api
`<rate-limit-by-key calls="200" renewal-period="60" counter-key="@(context.Subscription?.Key

[2022-10-17 10:16] Andrei-Predoiu opened #166 "Azure Forces deletion of the self hosted gateway when downgrading from premium to development"
### Report

When changing SKU from `premium` to `development` azure will return an error both in the UI and in the API Call.
This is despite the fact that the self hosted gateway is supported in both SKU's

The only "workaround" is to manually delete the self hosted gateway which creates a large downtime.

### Expected Behavior

Developers should be able to seamlessly switch between `premium` and

[2022-10-18 06:04] tomkerkhove commented on #166
Can you elaborate more on the error that you are getting please?

[2022-10-18 06:06] tomkerkhove commented on #164
I'm not able to check for you as I need the APIM service name but if you are using internal VNET, then this is by design.

However, given Configuration API v2 does not support custom domain names you can use `hostAliases` as a workaround as per our docs:

https://learn.microsoft.com/en-gb/azure/api-management/how-to-self-hosted-gateway-on-kubernetes-in-production#custom-domain-names-and-ssl-certif

[2022-10-18 06:10] tomkerkhove commented on #165
Can you elaborate on what version you were previously on and if it worked there?

I will try to reproduce it.

[2022-10-18 06:33] tomkerkhove commented on #165
I can reproduce this and will work on a fix + see why our automated testing didn't catch this.

[2022-10-18 16:45] Andrei-Predoiu commented on #165
It was working on 2.1.5, not sure about 2.1.4

[2022-10-19 17:56] tomkerkhove commented on #165
This is now fixed in v2.1.6 - Thanks for reporting!
https://github.com/Azure/api-management-self-hosted-gateway/releases/tag/Container-v2.1.6

[2022-10-19 17:56] #165 closed

[2022-10-23 10:30] MehtaAadi opened #171 "Getting constant errors in the logs not related to setup"
### Report

Getting error in the docker logs.

### Expected Behavior

No errors

### Actual Behavior

These are logs related to issues with Azure API Management

### Steps to Reproduce the Problem

Just configure ratelimiting on azure management portal.

### Logs from self-hosted gateway

[code]

### Self-hosted Gateway Version

2.1.0, 2.1.6

### Deployment

Docker (Compose)

### Platform

Amazon

[2022-10-24 06:27] tomkerkhove commented on #171
It looks like it's not able to synchronize things due to quotas. What Configuration API are you using?

[2022-11-08 15:53] tomkerkhove opened #172 "Provide capability to specify additional configuration"
### Proposal

Provide capability to specify additional configuration that is not exposed as Helm value.

This allows customers to configure features that are not in the Helm chart yet.

### Use-Case

Be more open to customization.

### Anything else?

_No response_

[2022-11-08 15:53] tomkerkhove commented on #166
@Andrei-Predoiu Any input on this?

[2022-11-08 15:53] tomkerkhove commented on #171
@Andrei-Predoiu Any input on this?

[2022-11-08 15:54] tomkerkhove commented on #164
@davejhahn Any input on this? Did Azure support help you?

[2022-11-09 09:34] Andrei-Predoiu commented on #166
Hi, not much to say.
Probably not an issue with the gateway itself but the api on the azure side.
You can scale from dev do prod seamlessly, without the self hosted gateway being affected.
You can't scale from prod to dev without deleting the gateway first.

[2022-11-09 10:52] #172 closed

[2022-11-09 14:23] tomkerkhove commented on #166
Odd. Do you have more than 1 Gateway resource?

[2022-11-09 14:25] Andrei-Predoiu commented on #166
I only had one gateway resource in the portal but i think it was running in multiple instances on my kubernetes cluster at that time. Not sure.

[2022-11-09 14:25] tomkerkhove commented on #166
That's OK; should not have an impact

[2022-11-15 17:40] stinggray opened #175 "Include self-hosted App Insights for self-hosted gateway"
### Proposal

When running API Management self-hosted gateway, including a self-hosted app insights will ensure visibility, monitoring, and analytics. Please add a self-hosted app insights feature for self-hosted gateway.

### Use-Case

Application Insights is a useful addition to APIM. Adding the self-hosted app insights version will ensure consistency in the current APIM self-hosted and develope

[2022-11-16 11:03] tomkerkhove commented on #175
Application Insights is already supported today. If you are facing any issues, it's best to contact support.

[2022-11-16 11:03] tomkerkhove commented on #166
We do this by design because we only allow 1 instance for developer SKU to run and others will start failing.

Because of that, we want to make sure that there is no impact by forcing to recreate them.

[2022-11-16 14:17] jjasundry commented on #175
Agreed. App Insights functions today. The feature request is for a **self-hosted app insights**. Today, I can run self-hosted APIM and self-hosted developer portal. The missing piece of self-hosted app insights disrupts the option to have a fully self-hosted solution for our internal development teams.

[2022-11-16 14:19] tomkerkhove commented on #175
That's a good feature request for the Azure Monitor team, but I'm afraid we will not be able to help with that - Sorry!

[2022-11-16 14:21] stinggray commented on #175
Agreed. App Insights functions today. The feature request is for a self-hosted app insights. Today, I can run self-hosted APIM and self-hosted developer portal. The missing piece of self-hosted app insights disrupts the option to have a fully self-hosted solution for our internal development teams.

[2022-11-16 14:23] tomkerkhove commented on #175
That's a good feature request for the Azure Monitor team - However, there is not much we can help with from an Azure API Management side.

[2022-11-16 14:23] #175 closed

[2022-11-16 14:26] stinggray commented on #175
I don't see an Azure Monitor team listed here in GitHub. Is there a place to submit this feature request? Also, how will that interaction between Azure Monitor team and self-hosted APIM exchange? If the Azure Monitor team creates a self-hosted feature, but the self-hosted APIM still publishes to the cloud hosted App Insights; the end results is not realized.

[2022-11-16 14:30] tomkerkhove commented on #175
You can create feature requests on https://feedback.azure.com/d365community/forum/3887dc70-2025-ec11-b6e6-000d3a4f09d0.

Once that feature is there, we can add it to our backlog to integrate with it; but they have to build it first.

[2022-11-16 17:17] stinggray commented on #175
I created a feature request in Azure Monitor as suggested. If others find this thread, feel free to up-vote the request!
https://feedback.azure.com/d365community/idea/1b08c8d1-d165-ed11-a81b-000d3ae49307